body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
  url("https://images.unsplash.com/photo-1529070538774-1843cb3265df") center/cover;
  color: white;
  min-height: 100vh;
}

header {
  text-align: center;
  padding: 20px;
}

.search-box {
  background: rgba(255,255,255,.15);
  width: 90%;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
}

.search-box input, button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  border: none;
}

button {
  background: #00c6ff;
  font-weight: bold;
  cursor: pointer;
}

.suggestions {
  background: white;
  color: black;
  border-radius: 6px;
}

.suggestions div {
  padding: 5px;
  cursor: pointer;
}

.suggestions div:hover {
  background: #eee;
}

/* MODALS */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 15px;
  width: 90%;
  max-width: 600px;
}

.flight-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 10px 0;
  background: #f4f4f4;
  border-radius: 10px;
}

.flight-card img {
  width: 50px;
}

/* PLANE */
.plane {
  text-align: center;
}

#seats {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;
  margin: 20px;
}

.seat {
  padding: 10px;
  background: #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.seat.selected {
  background: green;
  color: white;
}

.seat.occupied {
  background: red;
  cursor: not-allowed;
}

/* PAYMENT */
.payment-page {
  display: none;
  background: white;
  color: black;
  min-height: 100vh;
  padding: 40px;
}

.payment-page input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
}
